---
export interface Props {
  sections: {
    title: string;
    content: string[];
  }[];
}

const { sections } = Astro.props;
---

<section>
  <h2>自己PR</h2>
  
  {sections.map(section => (
    <div>
      <h3>{section.title}</h3>
      {section.content.map(paragraph => (
        <p>{paragraph}</p>
      ))}
    </div>
  ))}
</section>